@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  border: none;
  background-color: #756157;
  cursor: pointer;
}

.button--blue {
  background-color: #82b3d3;
}

.button--transparent {
  background-color: transparent;
}

/* Index Page */

/* Header */

.main-nav__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.main-nav__link--current {
  text-decoration: underline;
}

.main-nav__link[href]:hover {
  text-decoration: underline;
}

/* Promo */

.promo {
  background-color: #3f5e72;
  background-image: url("../images/background/bg-promo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Advantages */

.advantages__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.advantages__intro {
  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #333333;
}

.advantages__item {
  text-align: center;
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item:first-of-type,
.advantages__item:last-of-type {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16667;
  text-transform: uppercase;
}

.advantages__item-description {
  font-size: 18px;
  line-height: 1.16667;
}

.advantages__item-image {
  background-color: #82b3d3;
}

/* Benefits */

.benefits__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.benefits__intro {
  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #333333;
}

.benefits__item {
  text-align: center;
}

.benefits__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16667;
  text-transform: uppercase;
}

.benefits__item-description {
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
}

/* Hotels Search */

.hotels-search__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.hotels-search__intro {
  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #333333;
}

/* Newsletter */

.newsletter__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.newsletter__intro {
  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
}

.newsletter__input {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33333;
}

.newsletter__input::placeholder {
  opacity: 0.6;
}

.newsletter--index {
  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/background/bg-newsletter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */

.main-footer__phone {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* Catalog Page */

/* Catalog Filter */

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

.catalog__filter-wrapper {
  color: #ffffff;
  background-color: #3f5e72;
  background-image: url("../images/background/bg-catalog-filter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 1.3125;
  color: inherit;
  text-decoration: none;
}

.catalog-filter__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.catalog-filter__item {
  font-size: 18px;
  line-height: 1.27778;
}

.catalog-filter__price {
  font-size: 18px;
  line-height: 1.33333;
}

.catalog-filter__price input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33333;
}

.catalog-filter__price label {
  opacity: 0.3;
}

.catalog__select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
}

.catalog__heading {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Hotel Card */

.hotel-card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16667;
}

.hotel-card__type {
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
}

.hotel-card__price {
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
}

.hotel-card__rating {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.hotel-card__favourites {
  background-color: #82b3d3;
}

.hotel-card__favourites--active {
  background-color: #7db54f;
}

/* Pagination */

.pagination__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  background-color: #82b3d3;
}

.pagination__link--current {
  color: #000000;

  background-color: #f2f2f2;
}

/* Modal */

.modal__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.modal__form label {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.modal__form input {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33333;
}
