@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.header,
.footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  padding: 8px 20px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  word-break: break-word;

  border: none;
  border-radius: 4px;
  background-color: #756157;
  cursor: pointer;
  user-select: none;
}

.button--blue {
  background-color: #82b3d3;
}

.button--transparent {
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Index Page */

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 70px;
}

.header__logo {
  z-index: 1;
  flex-shrink: 0;
  align-self: flex-start;
  margin: 0 0 -6px 0;
}

.header__nav {
  display: flex;
  margin: 0 auto 0 0;
}

.main-nav__list {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  display: inline-flex;
  padding: 14px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.main-nav__link--current {
  text-decoration: underline;
}

.main-nav__link[href]:hover {
  text-decoration: underline;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 10px 2px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__menu-item {
  flex-shrink: 0;
  min-width: 36px;
  min-height: 36px;
}

.header__menu-item--button {
  margin-left: 10px;
}

.header__search {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  min-height: 36px;

  font-size: inherit;

  background-image: url("../images/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.header__favourites {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  min-height: 36px;

  font-size: inherit;
}

/* Main */

/* Promo */

.promo {
  display: flex;
  justify-content: center;
  min-height: 485px;

  background-color: #3f5e72;
  background-image: url("../images/background/bg-promo-divider.png"), url("../images/background/bg-promo.jpg");
  background-size: auto, cover;
  background-position: bottom -1px center, top center;
  background-repeat: no-repeat;
}

.promo__image {
  display: block;
  margin-bottom: 25px;
  object-fit: contain;
}

/* Advantages */

.advantages {
  padding-top: 60px;
}

.advantages__title {
  max-width: 65%;
  margin: 0 auto 25px;
  padding: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  word-break: break-word;
}

.advantages__intro {
  max-width: 65%;
  margin: 0 auto 85px;
  padding: 0;

  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #333333;
  word-break: break-word;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  padding: 102px 50px;

  text-align: center;
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item--with-photo {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  padding: 0;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages__item--with-photo .advantages__item-text {
  padding: 102px 50px;
}

.advantages__item--with-photo .advantages__item-image {
  grid-column: span 2;
  align-self: stretch;
  object-fit: cover;
}

.advantages__item-title {
  margin: 0 0 62px;
  padding: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.16667;
  text-transform: uppercase;
  word-break: break-word;
}

.advantages__item-description {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.16667;
  word-break: break-word;
}

.advantages__item-image {
  display: block;
  background-color: #82b3d3;
}

/* Benefits */

.benefits {
  padding-top: 64px;
}

.benefits__title {
  max-width: 65%;
  margin: 0 auto 20px;
  padding: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  word-break: break-word;
}

.benefits__intro {
  max-width: 65%;
  margin: 0 auto 60px;
  padding: 0;

  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #333333;
  word-break: break-word;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits__item {
  margin: 0;
  padding: 20%;
  text-align: center;
}

.benefits__item:nth-of-type(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16667;
  text-transform: uppercase;
  word-break: break-word;
}

.benefits__item-description {
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
  word-break: break-word;
}

/* Hotels Search */

.hotels-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 70px;
}

.hotels-search__title {
  max-width: 60%;
  margin: 0 auto 20px;
  padding: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  word-break: break-word;
}

.hotels-search__intro {
  max-width: 60%;
  margin: 0 auto 50px;
  padding: 0;

  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #333333;
  word-break: break-word;
}

/* Newsletter */

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 70px 104px;
}

.newsletter__title {
  max-width: 60%;
  margin: 0 auto 20px;
  padding: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  word-break: break-word;
}

.newsletter__intro {
  max-width: 60%;
  margin: 0 auto 50px;
  padding: 0;

  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  word-break: break-word;
}

.newsletter__input {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33333;
}

.newsletter__input::placeholder {
  opacity: 0.6;
}

.newsletter--index {
  padding: 96px 0 104px;
  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/background/bg-newsletter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 40px 70px 30px;
}

.footer__phone {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  word-break: break-word;
}

.footer__copyright {
  flex-shrink: 0;
}

.copyright {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
}

/* Socials */

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item {
  flex-shrink: 0;
}

.socials__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
}

/* Catalog Page */

/* Catalog Filter */

.page-title {
  margin: 0 0 8px;
  padding: 0;

  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  word-break: break-word;
}

.catalog__filter-wrapper {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #3f5e72;
  background-image: url("../images/background/bg-catalog-filter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  display: inline-flex;
  min-width: 21px;
  min-height: 21px;

  font-size: 16px;
  line-height: 1.3125;
  color: inherit;
  text-decoration: none;
  word-break: break-word;
}

.catalog-filter__title {
  margin: 0 0 30px;
  padding: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  word-break: break-word;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 70px;
}

.catalog-filter__group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter__group:nth-child(3) {
  margin-left: auto;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter__item {
  font-size: 18px;
  line-height: 1.27778;
  word-break: break-word;
}

.catalog-filter__item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter__price {
  display: grid;
  grid-template-columns: 144px 144px;
  max-width: 288px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.33333;
}

.catalog-filter__price input {
  padding: 0;
  max-width: 70px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33333;

  background-color: transparent;
  border: none;
}

.catalog-filter__price label {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;

  word-break: break-word;
  background-color: #ffffff;
}

.catalog-filter__price-text {
  color: #000000;
  opacity: 0.3;
}

.catalog-filter__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  min-width: 191px;
}

.catalog__results {
  margin: 0;
  padding: 50px 70px 50px 70px;
}

.catalog__heading-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
  margin-bottom: 40px;
}

.catalog__heading {
  margin: 0 auto 0 0;
  padding: 0;

  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  word-break: break-word;
}

.catalog__select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
}

.catalog__view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__view-item {
  display: inline-flex;
  min-width: 48px;
  min-height: 48px;

  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 0 80px;
  padding: 0;
  list-style: none;
}

/* Hotel Card */

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 212px 1fr auto auto auto;
  gap: 16px 20px;
  padding: 20px;

  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-card__image-link {
  grid-column: 1/-1;
}

.hotel-card__image {
  display: block;

  background-color: #3f5e72;
  object-fit: contain;
}

.hotel-card__title-link {
  grid-column: 1/-1;

  color: inherit;
  text-decoration: none;
}

.hotel-card__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.16667;
  word-break: break-word;
}

.hotel-card__type {
  grid-column: 1/2;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.16667;
  color: #333333;
  word-break: break-word;
}

.hotel-card__price {
  grid-column: 2/-1;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 1.16667;
  text-align: right;
  color: #333333;
  word-break: break-word;
}

.hotel-card__stars {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
}

.hotel-card__rating {
  grid-column: 2/-1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 36px;

  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  word-break: break-word;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card__link {
  grid-column: 1/2;
}

.hotel-card__favourites {
  grid-column: 2/-1;
  padding: 8px 16px;

  background-color: #82b3d3;
}

.hotel-card__favourites--active {
  background-color: #7db54f;
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination__link--current {
  color: #000000;

  background-color: #f2f2f2;
}

/* Modal */

.modal {
  display: none;
}

.modal__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  word-break: break-word;
}

.modal__form label {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.modal__form input {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33333;
}
